<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form</title>
	<link rel="stylesheet" href="css_log_in/style.css">
	<style>
		@font-face {
		font-family: The Spring; 
		src: url(fonts/TheSpringPersonalUse.ttf); 
	   }
	</style>
	 
</head>
<body>
	
	<div class="title">
		<h1>Future Forest</h1>
	</div>
	
	<div class="form">
		<h1>Entrance</h1>
		<div class="input-form">
			<input type="text" placeholder="Login">
		</div>
		<div class="input-form">
			<input type="password" placeholder="Password">
		</div>
		<div class="input-form">
			<input type="submit" value="Log In">
		</div>
	</div>
	
</body>
</html>