<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeleSite</title>
    <link rel="stylesheet" href="css_global/style.css">

    <!-- Подключение библиотеки jQuery-->
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>

    <!-- Код взаимодействия с сервером -->
    <script language="JavaScript">
        // Загрузка и отображение сообщений
        function loadIntents() {
           $.get(
            "/get_intents",
            (data) => {
                $("#chat_window").empty();
                var intents = data["intents"];
                for (var i in intents) {
                    // Добавление в словарь
                    var intent = intents[i];
                    var example = intent["examples"];
                    var responce = intent["responses"];

                    console.log(example, responce);
                    var html = "<div> [<b> " + example + " </b>]: " + responce + " <i>";
                    var div = $(html); // div = визуальный элемент с сообщением

                    $("#chat_window").append(div);
                }
            }
           );
        }

        // Отправка сообщения
        function sendIntents() {
            var example = $("#example").val(); // Кладем текст из поля "name" в переменную
            var responce = $("#responce").val();
            $.get("/send_intents", { "example" : example, "responce" : responce});

            $("#example").val("");
            $("#responce").val("");
        }

        // При загрузке страницы
        $(() => {
           // При нажатии клавиш в поле текст
           $("#response").on("keypress", (event) => {
                // При нажатии Enter, вызвать функцию sendMessage
                if (event.keyCode == 13) {
                    sendIntents();
                }
           });

           // Каждую секунду вызывать loadIntents
           setInterval(loadIntents, 1000);

        });

    </script>
</head>
<body>
    <h1 id="name_site">Tele-Site</h1>

    <div class="form-profile">  
        <h2>Name </h2>
        <h3>Points </h3>
        <h3>Top </h3>
    </div>
    
    <div class="form">
        <h1>intent</h1>
        <!-- Интерфейс: имя, окно чата, текст сообщения -->
        <div class="input-form">
            <input id="topic" type="topic" placeholder="Topic"/>
        </div>

        <div class="input-form">
            <input id="answer" type="text" placeholder="Answer"/>
        </div>

        <div class="input-form">
            <input id="responce" type="text" placeholder="Responce">
        </div>

    </div>
    
</body>
</html>
