<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeleSite</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='log_in/css_log_in/style.css', v=1)}}">
</head>
<body> 
    <img src="img/background.jpg" class="background" />
    
    <div class="name">
        <h1 id="name_site">Future Forest</h1> 
    </div>
    
        <!-- data_user -->
    
        <!-- <div class="form-profile"> 
            <h2>Name: <i>{{ data_user["name"] }}</i></h2>
            <h3>Points: <i>{{ data_user["points"] }}</i></h3>
            <h3>Top Place: <i>0</i></h3>
        </div> -->
    {% for data in data_user %}

        <div>{{ data }}&nbsp;<i>#{{ data_user[data] }}</i></div>

    {% endfor %}   

    <form method="post" action="/send_intent">
        <div class="form">
            <h1>intent</h1>
            <!-- Интерфейс: имя, окно чата, текст сообщения -->
            <div class="input-form">
                <input id="topic" name="topic" type="text" placeholder="Topic"/>
            </div>

            <div class="input-form">
                <input id="answer" name="example" type="text" placeholder="Answer"/>
            </div>

            <div class="input-form">
                <input id="responce" name="responce" type="text" placeholder="Responce">
            </div>

            <div class="input-form">
                <input type="submit" value="Send">
            </div>

        </div>
    </form>
<!-- top_users -->
<!-- amount_place -->
    <div class="top">
        <h1>TOP</h1>

        {% for i in range(amount_place) %}

            <div>{{ i + 1 }}&nbsp;<i>#{{ top_users[i] }}</i></div>
        
            {% endfor%}
        
    </div>
    
</body>
</html>
