.items{
    border-radius: 20px;
    box-shadow: 10px 5px 5px 5px rgba(36, 36, 40, 0.2);  
}

.nav-items {
    border-radius: 20px;
}

.nav-item {
  font-size: 14pt;
}

.container {
    border-radius: 20px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0%;
    position: relative;  
}

.canvas {
    display: block;
    background: hsl(10, 90%, 50%);
}

html {
    scroll-behavior: smooth;
  }

.all { 
    position: absolute;
    top: 5px;
    left: 5%;
    right: 5%;
  }

.top {
    border: 2px solid white;
    border-radius: 15px;
    position: relative;
    margin-top: 30px;
    padding: 20px 50px;
  }

.graph:active{
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 255, .2);
  }

.top h3 {
  font-size: 25pt;
}

#graph.graph{
    border: 1px solid #ffffff;
    padding: 5px;
  }
  #graph .item{
    margin: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 3px;
    border-radius: 3px;  
    background-color: #0ee4c4;
    box-shadow: 0 0 10px #2280AC;
    transition: 0.5s; 
    display: block;
  }

  #graph .item:hover{
    background-color: #07deff;  
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 255, .2);
    transform: scale(1.2);
  }

  #graph .item:active{
    background-color: #07deff;  
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 255, .2);
    transform: scale(1.2);
  }

#graph.vertical{
    height: 300px;
    min-width: min-content;
    padding: 20px 40px;
   }
   
#graph.vertical .item{
    width: 50px;  
    float: left;
    display: inline-block;
}

.intent-form {
  border: 2px solid white;
  box-shadow: 3px 3px 50px rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 60px;
  padding: 40px 70px;
  
  
}

.btn-public {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.img-p {
  height: 15px;
  width: 15px;
}

.no-enter {
  display: inline;
}

.urgent-all {
  font-size: 20pt;
  display: block;
}

.urgent-day {
  display: inline;
  font-size: 15pt;
}

.instuction {
  color: rgb(151, 151, 151);
  font-size: 10pt;
}

.instuction h2, strong{
  font-size: 25pt;
  color: rgb(255, 255, 255);
}

.instuction a {
  color: rgb(179, 184, 184);
}

.instuction strong {
  color: rgb(74, 74, 74);
  font-size: 10pt;

}
.instuction i {
  color: aliceblue;
}

@import url('https://fonts.googleapis.com/css?family=Tinos:700i');

h1 span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
}

/* h1 span{ */
.btn-cheking:active {
  animation: smoky 5s infinite;
}

h1 span:nth-child(even){
  animation-name: smoky-2;
}
@keyframes smoky {
  60% {text-shadow: 0 0 40px whitesmoke;}
  to {
    transform: translate3d(300px, -80px, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@keyframes smoky-2 {
  60% {text-shadow: 0 0 40px whitesmoke;}
  to {
    transform: translate3d(350px, -80px, 0) rotate(-40deg) skewX(-70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
h1 span:nth-of-type(1) {animation-delay: .1s;}
h1 span:nth-of-type(2) {animation-delay: .1s;}
h1 span:nth-of-type(3) {animation-delay: .1s;}
h1 span:nth-of-type(4) {animation-delay: .1s;}
h1 span:nth-of-type(5) {animation-delay: .1s;}
h1 span:nth-of-type(6) {animation-delay: .1s;}
h1 span:nth-of-type(7) {animation-delay: .1s;}
h1 span:nth-of-type(8) {animation-delay: .1s;}
h1 span:nth-of-type(9) {animation-delay: .1s;}
h1 span:nth-of-type(10) {animation-delay: .1s;}
h1 span:nth-of-type(11) {animation-delay: .1s;}
h1 span:nth-of-type(12) {animation-delay: .1s;}
h1 span:nth-of-type(13) {animation-delay: .1s;}
h1 span:nth-of-type(14) {animation-delay: .1s;}
h1 span:nth-of-type(15) {animation-delay: .1s;}
h1 span:nth-of-type(16) {animation-delay: .1s;}
h1 span:nth-of-type(17) {animation-delay: .1s;}
h1 span:nth-of-type(18) {animation-delay: .1s;}
h1 span:nth-of-type(19) {animation-delay: .1s;}
h1 span:nth-of-type(20) {animation-delay: .1s;}
h1 span:nth-of-type(21) {animation-delay: .1s;}
h1 span:nth-of-type(22) {animation-delay: .1s;}
h1 span:nth-of-type(23) {animation-delay: .1s;}
h1 span:nth-of-type(24) {animation-delay: .1s;}
h1 span:nth-of-type(25) {animation-delay: .1s;}
h1 span:nth-of-type(26) {animation-delay: .1s;}
h1 span:nth-of-type(27) {animation-delay: .1s;}
h1 span:nth-of-type(28) {animation-delay: .1s;}
h1 span:nth-of-type(29) {animation-delay: .1s;}