{% extends "base.html" %}

{% block title %} About Page {% endblock %}

{% block ico %}
type="image/png" sizes="120x120" rel="icon" href="{{ url_for('static', filename='img/info_about_information_icon_132735.png') }}"
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-5 col-md-8 top shadow-lg container">
        
        <br><p style="display: inline;"><b class="urgent-day">MESSAGES</b>&nbsp;{{current_data["messages"]}}</p>&nbsp;
        
        <img src="{{ url_for('static', filename=sign_list[0]) }}" width="15px" height="15px" alt="NONE"><hr>

        <p style="display: inline;"><b class="urgent-day">USERS</b>&nbsp;{{current_data["users"]}}</p>&nbsp;
        <img src="{{ url_for('static', filename=sign_list[1]) }}" width="15px" height="15px" alt="NONE"><hr>
        
        <p style="display: inline;"><b class="urgent-day">INTENTS</b>&nbsp;{{current_data["intents"]}}</p>&nbsp;
        <img src="{{ url_for('static', filename=sign_list[2]) }}" width="15px" height="15px" alt="NONE"><hr>
        <br>

    </div>
    <div class="col-lg-4 col-md-8 top shadow-lg container">
        <br><p><b class="urgent-all">Registered Users</b>&nbsp;{{amount_users}}&nbsp;people</p>
        <br><p><b class="urgent-all">Sent Messages</b>&nbsp;{{amount_messages}}&nbsp;messages</p>
        <br><p><b class="urgent-all">Added Intents</b>&nbsp;{{amount_intents}}&nbsp;intents</p>
    </div>
    
</div>

<script src="{{ url_for('static', filename='script/background.js') }}"></script>

{% endblock %}