
{% extends "base.html" %}

{% block title %} Create Page {% endblock %}

{% block body %}  

    <div class="name">
        <h1 id="name_site">Future Forest</h1> 
    </div>
    
        <!-- data_user -->
    
        <!-- <div class="form-profile"> 
            <h2>Name: <i>{{ data_user["name"] }}</i></h2>
            <h3>Points: <i>{{ data_user["points"] }}</i></h3>
            <h3>Top Place: <i>0</i></h3>
        </div> -->
    {% for data in data_user %}

        <div>{{ data }}&nbsp;<i>#{{ data_user[data] }}</i></div>

    {% endfor %}   

    <form method="post" method="post">
        <div class="form">
            <h1>intent</h1>
            <!-- Интерфейс: имя, окно чата, текст сообщения -->
            <div class="input-form">
                <input id="topic" name="topic" type="text" placeholder="Topic"/>
            </div>

            <div class="input-form">
                <input id="answer" name="example" type="text" placeholder="Answer"/>
            </div>

            <div class="input-form">
                <input id="responce" name="responce" type="text" placeholder="Responce">
            </div>

            <div class="input-form">
                <input type="submit" value="Send">
            </div>

        </div>
    </form>
<!-- top_users -->
<!-- amount_place -->
<script src="{{ url_for('static', filename='script/background.js') }}"></script> 

    
</body>
</html>

{% endblock %}
