<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style/style_logging.css')}}">	
	
	<style>
		@font-face {
		font-family: The Spring; 
		src: url(fonts/TheSpringPersonalUse.ttf); 
	   }
	</style>
	 
</head>
<body>
	<div class="title">
		<h1>Future Forest</h1>
	</div>
	<form method="post" method="post">
		<div class="form">
			<h1>Entrance</h1>

			<div class="input-form">
				<input type="text" name="id" placeholder="ID">
			</div>

			<div class="input-form">
				<input type="password" name="password" placeholder="Password">
			</div>

			<div class="input-form">
				<input type="submit" value="Log In">
			</div>

		</div>
	</form>
	
</body>
</html>
