{% extends "base.html" %}

{% block title %} Main Page {% endblock %}

{% block body %}

<div class="container">
    <hr>
    
    <div class="row">
        <div class="col">
            <div id="graph" class="container top shadow-lg graph vertical">
                <h3 class="text-center">MESSAGES</h3>
                {% for month in data_month %}
                    <div class="item" style="height:{{ data_month[month]['messages']*0.1 }}px;margin-top:{{ 200 - data_month[month]['messages']*0.1 }}px">{{data_month[month]['messages']}}</div>
                {% endfor %}
            </div>
        </div>
    

    
        <div class="col">
            <div id="graph" class="container top shadow-lg graph vertical" style="min-height: fit-content;">
                <h3 class="text-center">USERS</h3>
                {% for month in data_month %}
                <div class="item" style="height:{{ data_month[month]['users'] }}px;margin-top:{{ 200 - data_month[month]['users'] }}px">{{data_month[month]['users']}}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="graph" class="container top shadow-lg graph vertical" style="min-height: fit-content;">
        <h3 class="text-center">INTENTS</h3>
        {% for month in data_month %}
        <div class="item" style="height:{{ data_month[month]['intents']*0.5 }}px;margin-top:{{ 200 - data_month[month]['intents']*0.5 }}px">{{data_month[month]['intents']}}</div>
        {% endfor %}
    </div>

</div>


{% endblock %}