{% extends "base.html" %}

{% block title %} Profile Page {% endblock %}

{% block ico %}
type="image/png" sizes="120x120" rel="icon" href="{{ url_for('static', filename='img/user-profile_icon-icons.com_71302.png') }}"
{% endblock %}

{% block body %}


<div class="row">
<br>
    <div class="col-7">
        
        <div class="container top shadow-lg">
            
            <h3>{{ data_user["username"] }}</h3><hr>
            <p><b>Id</b>&nbsp;{{ data_user["id"] }}</p>
            <p><b>First Name</b>&nbsp;{{ data_user["first_name"] }}</p>
            <p><b>Last Name</b>&nbsp;{{ data_user["last_name"] }}</p>  
            <p><b>Main</b>&nbsp;{{ data_user["main"] }}</p>
            <p><b>Post</b>&nbsp;{{ data_user["post"] }}</p>
            <p><b>Points</b>&nbsp;{{ data_user["points"] }}</p>
            <p><b>Place</b>&nbsp;{{ place_num }}</p>
            <p><b>Was Registered</b>&nbsp;{{ data_user["registered"] }}</p>
            <p><b>Was Online</b>&nbsp;{{ data_user["was_online"] }}</p>

        </div>
    </div>

    <div class="col-5">
        <div class="container">
            
            <div class="container top shadow-lg">
                
                <h3 class="text-center">TOP</h3>
                <hr>
                {% for i in range(top_user|length) %}

                    <p><b>{{ i + 1 }}</b>&nbsp;<i>#{{ top_user[i] }}</i></p>
                
                {% endfor%}
                
            </div>
        </div>
    

        <br>
        
    </div>
    
{% endblock %}